.my-loading {
  z-index: 1000;
}
.commentOverflow {
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-add {
  background-color: #0a5695;
  border: 0;
  border-radius: 0%;
}
.btn-view {
  border-radius: 0%;
}
.btn-edit {
  border-radius: 0%;
}
.btn-delete {
  border-radius: 0%;
}
